.title {
    font-family: Roboto;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}



.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}



.profile {
    width: 36px;
    border-radius: 50px;
    
}

.thumbnail-row {
    margin-bottom: 8px;
    vertical-align: top;
    position: relative;
    
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;
}

.channel-holder,
.views {
    font-size: 12px;
    color: rgb(96,96,96);
    line-height: 18px;
}
.channel-holder {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

